{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form class="needs-validation" method="post" novalidate>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal">Login Form</h1>
<div class="form-group row">
        <label for="inputUsername" class="col-form-label col-sm-12 form-control-label required">Username</label>
        <div class="col-sm-12">
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            {# bootstrap valid/invalid feedback to create the form validation feedback #}
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Invalid Username!</div>
        </div>
    </div>    
    <div class="form-group row">
        <label for="inputPassword" class="col-form-label col-sm-12 form-control-label required">Password</label>
        <div class="col-sm-12">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Invalid Password!</div>
       </div>
    </div> 
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {# bootstrap classes for styling #}
    <button class="btn btn-lg btn-primary" type="submit">
        Login
    </button>
</form>
{% endblock %}
