<form method="post" action="{{ path('source_city_delete', {'id': source_city.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ source_city.id) }}">
    <button class="btn">Delete</button>
</form>
